<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xmlns:v='urn:schemas-microsoft-com:vml' xmlns:o='urn:schemas-microsoft-com:office:office'>

<head>

    <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='format-detection' content='date=no' />
    <meta name='format-detection' content='address=no' />
    <meta name='format-detection' content='telephone=no' />
    <meta name='x-apple-disable-message-reformatting' />

    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet' />

    <title>{{nomeCampanha}}</title>

    <style type='text/css' media='screen'>
        body {
            padding: 0 !important;
            margin: 0 !important;
            display: block !important;
            min-width: 100% !important;
            width: 100% !important;
            -webkit-text-size-adjust: none
        }
        
        a {
            color: #ffffff;
            text-decoration: none
        }
        
        p {
            padding: 0 !important;
            margin: 0 !important
        }
        
        img {
            -ms-interpolation-mode: bicubic;
        }
        
        .mcnPreviewText {
            display: none !important;
        }
        
        @media only screen and (max-device-width: 480px),
        only screen and (max-width: 480px) {
            .mobile-shell {
                width: 100% !important;
                min-width: 100% !important;
            }
            .m-center {
                text-align: center !important;
            }
            .center {
                margin: 0 auto !important;
            }
            .td {
                width: 100% !important;
                min-width: 100% !important;
            }
            .m-br-15 {
                height: 15px !important;
            }
            .m-td,
            .m-hide {
                display: none !important;
                width: 0 !important;
                height: 0 !important;
                font-size: 0 !important;
                line-height: 0 !important;
                min-height: 0 !important;
            }
            .m-block {
                display: block !important;
            }
            .m-auto {
                height: auto !important;
            }
            .fluid-img img {
                width: 100% !important;
                max-width: 100% !important;
                height: auto !important;
            }
            .bg {
                -webkit-background-size: cover !important;
                background-size: cover !important;
                background-repeat: none !important;
                background-position: center 0 !important;
            }
            .p20-15 {
                padding: 20px 15px !important;
            }
            .p30-15 {
                padding: 30px 15px !important;
            }
            .p30-15-0 {
                padding: 30px 15px 0px 15px !important;
            }
            .pb-30 {
                padding-bottom: 30px !important;
            }
            .pb-30-0 {
                padding: 30px 0px !important;
            }
            .nopt {
                padding-top: 0px !important;
            }
            .nobb {
                border-bottom: none !important;
            }
            .nop {
                padding: 0 !important;
            }
            .content {
                padding: 30px 15px !important;
            }
            .bt150 {
                border-top: 30px solid #ffffff !important;
            }
            .entry {
                padding-bottom: 30px !important;
            }
            .pb60m {
                padding-bottom: 0px !important;
            }
            .separator {
                padding-top: 30px !important;
            }
            .box {
                padding: 30px 15px !important;
            }
            .box2 {
                padding: 30px 15px !important;
            }
            .pb60 {
                padding-bottom: 30px !important;
            }
            .h2 {
                font-size: 44px !important;
                line-height: 48px !important;
            }
            .title {
                font-size: 24px !important;
                line-height: 28px !important;
            }
            .m-list {
                font-size: 18px !important;
                line-height: 22px !important;
            }
            .text-footer {
                text-align: center !important;
            }
            .column,
            .column-top,
            .column-dir,
            .column-empty,
            .column-empty2,
            .column-bottom,
            .column-dir-top,
            .column-dir-bottom {
                float: left !important;
                width: 100% !important;
                display: block !important;
            }
            .column-empty {
                padding-bottom: 10px !important;
            }
            .column-empty2 {
                padding-bottom: 30px !important;
            }
            .content-spacing {
                width: 15px !important;
            }
        }
    </style>
</head>

<body class='body' style='padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; -webkit-text-size-adjust:none;'>
    <table width='100%' border='0' cellspacing='0' cellpadding='0' bgcolor='#1d1d1d'>
        <tr>
            <td align='center' valign='top'>
                <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                    <tr>
                        <td align='center' style='padding: 30px 0px;' class='p30-15'>
                            <table width='650' border='0' cellspacing='0' cellpadding='0' class='mobile-shell'>
                                <tr>
                                    <td class='td' style='width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;'>
                                        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                            <tr>
                                                <th class='column' width='140' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;'>
                                                    <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                                        <tr>

                                                            <td class='img m-center' style='font-size:0pt; line-height:0pt; text-align:left;'>
                                                                <a id="linkImagem" href="{{linkImagem}}" target="_blank" rel="noopener noreferrer">
                                                                    <img id="linkImagemLogotipo" src='{{linkImagemLogotipo}}' width='100%' border='0' alt='' />
                                                                </a>
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class='column-empty2' width='10' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;'></th>
                                                <th class='column' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;'>
                                                    <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                                        <tr>
                                                            <td align='right'>
                                                                <table class='center' border='0' cellspacing='0' cellpadding='0' style='text-align:center;'>

                                                                    <tr>

                                                                        <td class='img' width='36' style='font-size:0pt; line-height:0pt; text-align:left;'>
                                                                            <a id="linkWhatsApp" href='{{linkWhatsApp}}' target='_blank'>
                                                                                <img src='https://i.imgur.com/KttXvAP.png' width='25' height='25' border='0' alt='' />
                                                                            </a>
                                                                        </td>

                                                                        <td class='img' width='36' style='font-size:0pt; line-height:0pt; text-align:left;'>
                                                                            <a id="linkInstagram" href='{{linkInstagram}}' target='_blank'>
                                                                                <img src='https://i.imgur.com/2215igG.png' width='25' height='25' border='0' alt='' />
                                                                            </a>
                                                                        </td>

                                                                        <td class='img' width='36' style='font-size:0pt; line-height:0pt; text-align:left;'>
                                                                            <a id="linkFacebook" href='{{linkFacebook}}' target='_blank'>
                                                                                <img src='https://i.imgur.com/QyZLKbi.png' width='25' height='25' border='0' alt='' />
                                                                            </a>
                                                                        </td>

                                                                    </tr>

                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                    <tr>
                        <td align='center'>
                            <table width='650' border='0' cellspacing='0' cellpadding='0' class='mobile-shell'>
                                <tr>
                                    <td class='td' style='width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;'>
                                        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                            <tr>
                                                <td bgcolor='#a3854b' valign='top' height='420' class='bg'>
                                                    <!--[if gte mso 9]>
													<v:rect xmlns:v='urn:schemas-microsoft-com:vml' fill='true' stroke='false' style='width:650px; height: 420px'>
														<v:fill type='frame'  color='#a3854b' />
														<v:textbox inset='0,0,0,0'>
													<![endif]-->
                                                    <div>
                                                        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                                            <tr>
                                                                <td class='content-spacing' width='30' style='font-size:0pt; line-height:0pt; text-align:left;'></td>
                                                                <td style='padding: 40px 0px;' class='p30-0'>
                                                                    <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                                                        <tr>
                                                                            <td class='box1' bgcolor='#ffffff' align='center' style='padding:45px 30px;'>
                                                                                <table border='0' cellspacing='0' cellpadding='0'>
                                                                                    <tr>
                                                                                        <td class='h5-2 center pb20' style='color:#000000; font-family: "Playfair Display", Georgia, serif; font-size:26px; line-height:30px; text-transform:uppercase; text-align:center; padding-bottom:50px;'>
                                                                                            <img src='https://i.imgur.com/o8E0KZK.png' width='140'>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class='h2 center pb20' style='color:#000000; font-family:"Playfair Display", Georgia, serif; font-size:35px; line-height:54px; font-weight:bold; text-align:center;'>
                                                                                            <multiline>Olá {{nomePessoa}}, </multiline>
                                                                                        </td>
                                                                                    </tr>

                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td class='content-spacing' width='30' style='font-size:0pt; line-height:0pt; text-align:left;'></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <!--[if gte mso 9]>
														</v:textbox>
														</v:rect>
													<![endif]-->
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- END Intro -->

                <!-- Offers -->
                <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                    <tr>
                        <td align='center' style='padding: 60px 0px 60px 0px;' class='p30-15'>
                            <table width='650' border='0' cellspacing='0' cellpadding='0' class='mobile-shell'>
                                <tr>
                                    <td class='td' style='width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;'>
                                        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                            <tr>
                                                <td class='pb40' align='center' style='padding-bottom:40px;'>
                                                    <table border='0' cellspacing='0' cellpadding='0'>
                                                        <tr>

                                                            <td class='title white' style='font-family:"Raleway", Arial, sans-serif; font-size:30px; line-height:34px; text-align:left; color:#ffffff;'>
                                                                <multiline id="mensagem">{{mensagem}}</multiline>

                                                                <img src='{{contadorAbertura}}' width='1px' height='1px'>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width='100%' border='0' cellspacing='0' cellpadding='0' bgcolor='#282828'>
                    <tr>
                        <td align='center' class='p30-15' style='padding: 50px 0px;'>
                            <table width='650' border='0' cellspacing='0' cellpadding='0' class='mobile-shell'>
                                <tr>
                                    <td class='td' style='width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;'>
                                        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                            <tr>
                                                <th class='column' width='120' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;'>
                                                    <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                                        <tr>
                                                            <td class='img m-center' style='font-size:0pt; line-height:0pt; text-align:left;'>
                                                                <a id="linkImagem2" href="{{linkImagem}}" target="_blank" rel="noopener noreferrer">
                                                                    <img id="linkImagemLogotipo2" src='{{linkImagemLogotipo}}' width='140' border='0' alt='' />
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class='column-empty2' width='1' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;'></th>
                                                <th class='column' style='font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;'>
                                                    <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                                        <tr>
                                                            <td align='right'>
                                                                <table class='center' border='0' cellspacing='0' cellpadding='0' style='text-align:center;'>

                                                                    <tr>
                                                                        <td class='img' width='36' style='font-size:0pt; line-height:0pt; text-align:left;'>
                                                                            <a id="linkWhatsApp2" href='{{linkWhatsApp}}' target='_blank'>
                                                                                <img src='https://i.imgur.com/KttXvAP.png' width='25' height='25' border='0' alt='' />
                                                                            </a>
                                                                        </td>

                                                                        <td class='img' width='36' style='font-size:0pt; line-height:0pt; text-align:left;'>
                                                                            <a id="linkInstagram2" href='{{linkInstagram}}' target='_blank'>
                                                                                <img src='https://i.imgur.com/2215igG.png' width='25' height='25' border='0' alt='' />
                                                                            </a>
                                                                        </td>

                                                                        <td class='img' width='36' style='font-size:0pt; line-height:0pt; text-align:left;'>
                                                                            <a id="linkFacebook2" href='{{linkFacebook}}' target='_blank'>
                                                                                <img src='https://i.imgur.com/QyZLKbi.png' width='25' height='25' border='0' alt='' />
                                                                            </a>
                                                                        </td>

                                                                    </tr>

                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width='100%' border='0' cellspacing='0' cellpadding='0' bgcolor='#1d1d1d'>
                    <tr>
                        <td class='text-footer p30-15' style='padding: 28px 10px 50px; color:#7e7e7e; font-family:"Raleway", Arial,sans-serif; font-size:12px; line-height:20px; text-align:center;'>

                            <p id="empresaNome">{{nomeEmpresa}}</p>
                            <br/>
                            <p id="endereco">{{endereco}}</p>
                        </td>

                        <td class='text-footer p30-15' style='padding: 28px 10px 50px; color:#7e7e7e; font-family:"Raleway", Arial,sans-serif; font-size:12px; line-height:20px; text-align:center;'>
                            <a id="linkDominioRed" href="{{linkDominio}}" target="_blank" rel="noopener noreferrer">
                                <p id="dominio">{{dominio}}</p>
                            </a>

                            </br>

                            Deseja cancelar a inscrição?
                            <a id="cancelarInscricao" href='{{cancelarInscricao}}' target='_blank' class='link-grey-u' style='color:#7e7e7e; text-decoration:underline;'>
                                <span class='link-grey-u' style='color:#7e7e7e; text-decoration:underline;'>Clique aqui</span>
                            </a> para parar de receber atualizações
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</body>

</html>